h1{color: #DDB9F7;font-size: 200%}
li{font-size: 150%;list-style-type: none}
a{color:#BEE5FF;text-decoration: none}
body{background-image: url(蓝粉渐变.svg);
background-repeat: no-repeat;}
p,pre{color: #F7BAE3}
pre{font-size: 150%;}